[submodule "templates/conan-poetry"]
	path = templates/conan-poetry
	url = git@github.com:ramblehead/templates-conan-poetry.git
[submodule "templates/templates-leetcode-cpp"]
	path = templates/templates-leetcode-cpp
	url = git@github.com:ramblehead/templates-leetcode-cpp.git
[submodule "autocodegen"]
	path = autocodegen
	url = git@github.com:ramblehead/autocodegen.git
[submodule "templates/nix-hop/poetry-pyside6"]
	path = templates/nix-hop/poetry-pyside6
	url = git@github.com:ramblehead/acg--nix-hop--poetry-pyside6.git
[submodule "templates/python/poetry-pyside6"]
	path = templates/python/poetry-pyside6
	url = git@github.com:ramblehead/acg--python--poetry-pyside6.git
